KITE_API_KEY=
KITE_API_SECRET=
KITE_REDIRECT_URL=http://127.0.0.1:8000/kite/callback
KITE_USER_ID=
KITE_PASSWORD=
KITE_TOTP_SECRET=
KITE_ACCESS_TOKEN=
KITE_ACCESS_TOKEN_DATE=
KITE_EXCHANGE=NSE
KITE_BENCHMARK_TRADINGSYMBOL=NIFTY 500
KITE_HISTORICAL_DAY_CHUNK_DAYS=1900
KITE_REQUEST_SLEEP_SECONDS=0.4
KITE_MAX_RETRIES=5
KITE_RETRY_BACKOFF_SECONDS=2.0
BACKTEST_REBALANCES_PER_MONTH=1
STRATEGY_RANKING_METHOD=COMBINED_RANK
RANKING_MOMENTUM_WEIGHT=0.60
RANKING_BETA_WEIGHT=0.25
RANKING_VOLATILITY_WEIGHT=0.15
STRATEGY_ALLOCATION_MODE=TOP_N_EQUAL
STRATEGY_TOP_N=15
DYNAMIC_MIN_WEIGHT=0.01
DYNAMIC_MAX_WEIGHT=0.07
SELENIUM_LOGIN_TIMEOUT_SECONDS=180
AUTO_REBALANCE_TARGET_DAYS=1,15
AUTOMATION_HISTORY_LOOKBACK_DAYS=10
TARGET_PORTFOLIO_VALUE=1000000
AVAILABLE_PURCHASE_FUNDS=1000000
